<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<form>
    <span>用户名：</span><input type="text" value="" name="userid" /><span>密码：</span><input type="password" value="" name="userpass" /> <button type="button" value="登录" />
</form>
<script>
$(function(){
    $('button').click(function () {
        $.ajax({
            type: "POST",
            url: "/auth/login",
            datatype: "json",
            data: $('form').serialize(),
            success: function(data){
                if(data.status == 200)
                    window.location.href ="/home/index";
                else{
                    alert(data.msg);
                }

            }
        });
    });

})
</script>
</body>
</html>